@charset "UTF-8";

@layer reset, tokens, base, layout, components;

@import "/css/reset.css" layer(reset);
@import "/css/tokens.css" layer(tokens);

@layer base {
  html {
    font-size: var(--font-size-base);
    font-family: var(--font-stack-serif);
    line-height: var(--line-height-text);
    background-color: var(--base-background);
  }

  p {
    color: var(--base-foreground);
  }

  a,
  a:link,
  a:visited,
  a:hover {
    text-decoration: none;
    font-weight: var(--font-weight-semibold);
    color: var(--link-color);
  }

  .title,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-stack-sans);
    font-variant: small-caps;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-3);
    color: var(--header-color);
  }

  .title {
    margin-top: 0;
    font-size: var(--font-size-xxl);
  }

  h1 {
    font-size: var(--font-size-xl);
  }

  h2 {
    font-size: var(--font-size-l);
  }

  h3 {
    font-size: var(--font-size-m);
  }

  p {
    margin-bottom: var(--spacing-2);
  }

  ul,
  ol {
    list-style-type: square;
  }

  strong {
    font-weight: var(--font-weight-semibold);
  }
}

@layer layout {
  .layout-thirds {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: var(--spacing-4) 0;

    @media screen and (min-width: 800px) {
      grid-template-columns: 1fr 2fr;

      .sidebar-wrapper {
        border-right: 3px dashed var(--structure-color);
        margin-right: -1.5px;
        min-height: 100vh;
      }
    }

    .sidebar-wrapper {
      display: flex;
      align-items: center;
      justify-content: right;
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;

      padding: var(--spacing-4);
      width: min(100%, var(--max-content-width));
    }

    header {
      margin-bottom: var(--spacing-3);
      display: flex;
      justify-content: space-between;
      font-family: var(--font-stack-serif);
      font-variant: small-caps;
      font-weight: var(--font-weight-bold);

      menu {
        display: flex;
        align-items: center;
        gap: var(--spacing-2);

        img {
          height: 1.2rem;
        }
      }
    }

    main {
      width: min(100%, var(--max-content-width));
      height: fit-content;
      min-height: 1vh;
    }

    footer {
      width: min(100%, var(--max-content-width));
      margin-top: var(--spacing-5);
      display: flex;
      justify-content: center;
    }
  }

  .layout-box {
    background-color: var(--base-background);
    min-height: 100vh;
    padding: var(--spacing-5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .layout-box .content {
    background-color: var(--alt-background);
    color: var(--alt-foreground);
    width: min(100%, var(--max-content-width));
    padding: var(--spacing-5);
    border-radius: var(--radius-m);
    box-shadow:
      0 0 20px var(--green-40) inset,
      0 0 20px var(--green-40);
  }
}

@layer components {
  /* Trick to create a line between menu items */
  /* Any menu item that follows another menu item will have separating line */
  .menu-item + .menu-item {
    border-top: 1px solid var(--green-80);
  }

  .menu-item {
    padding: var(--spacing-2) 0;

    a {
      font-weight: var(--font-weight-semibold);
    }
  }

  .accordion {
    summary {
      font-weight: var(--font-weight-bold);
      background-color: var(--green-80);
      border-radius: var(--radius-s);
      padding: var(--spacing-2);
      /* list-style: none; */
    }

    div {
      padding: var(--spacing-3);
    }
  }

  .accordion + .accordion {
    margin-top: var(--spacing-3);
  }

  .accordion:open + .accordion {
    margin-top: 0;
  }
}
