:root {
  /* Maurice Colour Palette */

  --whisper-white: #ebe9e0;

  --marais: #403d41;
  --teahouse: #666966;
  --dieskau: #cbc9c5;

  --double-bass: #3c3538;
  --meercat: #514439;
  --white-duck: #cfcabb;

  --equatorial-forest: #71845e;
  --lady-fern: #90a073;
  --garden-pond: #afc09d;

  --wishard: #527769;
  --silent-sage: #729986;
  --diorite: #9cbfaf;

  --angry-ocean: #4e6563;
  --classic-calm: #6a8783;
  --duck-egg-blue: #97b2b0;

  --alpha-centuri: #4d5878;
  --quantum-blue: #6d7a9b;
  --grey-flannel: #98a5c2;

  --baltic: #39505f;
  --oceanic: #4f6f81;
  --post-boy: #7a9bad;

  --berry-smoothie: #885362;
  --never-forget: #a67284;
  --strawberry-mousse: #c69eaf;

  --cinnamon-sand: #b77e53;
  --raw-umber: #cc996a;
  --lama: #dfb995;

  --terracotta-chip: #c4795d;
  --italian-clay: #d69579;
  --diva-rouge: #e7b7a4;

  --splendid-coral: #c9706a;
  --coral-atoll: #dc8f8d;
  --pretty-pink: #eab2b3;

  --camellia: #a85c60;
  --pleasure: #c17c83;
  --prom: #d9a5ac;

  /* Lamington Colour Palette */

  --green-40: #71845e;
  --green-60: #90a073;
  --green-80: #c6d1b5;

  --white: #fff;

  --grey-10: #1e1c1b;
  --grey-20: #333;

  --brown-60: #a07f53;
  --brown-80: #c0a886;

  --blue-60: #83a6b9;
  --blue-70: #b9cad6;
  --blue-90: #dae4ed;

  --yellow-60: #ddc669;
  --yellow-80: #e9ddaf;

  /* Semantic Colours */

  --base-foreground: var(--meercat);
  --base-background: var(--whisper-white);

  --highlight: var(--silent-sage);
  --header-color: var(--double-bass);
  --link-color: var(--classic-calm);
  --structure-color: var(--white-duck);

  --alt-foreground: var(--equatorial-forest);
  --alt-background: var(--garden-pond);

  /* Typography */

  --font-stack-serif: "Alegreya", sans-serif;
  --font-stack-sans: "Montserrat", sans-serif;

  --font-size-base: 16px;

  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 3rem;

  --line-height-heading: 1.1;
  --line-height-text: 1.5;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 900;

  /* Sizes */
  --max-content-width: 650px;

  /* Spacing */
  --spacing-base: 4px;

  --spacing-1: calc(1 * var(--spacing-base));
  --spacing-2: calc(2 * var(--spacing-base));
  --spacing-3: calc(4 * var(--spacing-base));
  --spacing-4: calc(8 * var(--spacing-base));
  --spacing-5: calc(16 * var(--spacing-base));
  --spacing-6: calc(32 * var(--spacing-base));

  /* Radii */

  --radius-s: 8px;
  --radius-m: 16px;
  --radius-l: 24px;
}
