:root {
  /* Colours */
  --canopy-20: #5d6f44;
  --canopy-40: #839b5f;
  --canopy-60: #b2c29b;
  --canopy-80: #c6d1b5;

  --shadow-10: #1e1c1b;
  --shadow-20: #211e1d;
  --shadow-30: #2e2b29;
  --shadow-40: #3f3734;

  --foilage-30: #456d2d;
  --foilage-50: #6aa744;
  --foilage-70: #82bd5e;

  --soil-10: #211a10;
  --soil-30: #463724;
  --soil-50: #725a3b;
  --soil-70: #a07f53;
  --soil-90: #c0a886;

  --waterfalls-40: #5e8990;
  --waterfalls-60: #83a6b9;
  --waterfalls-70: #b9cad6;
  --waterfalls-90: #dae4ed;

  --sunray-60: #ddc669;
  --sunray-80: #e9ddaf;

  --lorikeet-g-50: #45af38;
  --lorikeet-g-70: #6bcc5f;
  --lorikeet-b-50: #3c31e1;
  --lorikeet-b-70: #695fff;
  --lorikeet-r-50: #e42823;
  --lorikeet-r-70: #f35c58;
  --lorikeet-o-50: #f6c43f;
  --lorikeet-o-70: #f7cc58;
  --lorikeet-y-50: #fef435;
  --lorikeet-y-70: #fef769;

  /* Typography */

  --font-stack-serif: "Lora", sans-serif;
  --font-stack-sans: "Montserrat", sans-serif;

  --font-size-base: 14px;

  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 3rem;

  --line-height-heading: 1.1;
  --line-height-text: 1.5;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-base: 4px;

  --spacing-1: calc(1 * var(--spacing-base));
  --spacing-2: calc(2 * var(--spacing-base));
  --spacing-3: calc(4 * var(--spacing-base));
  --spacing-4: calc(8 * var(--spacing-base));
  --spacing-5: calc(16 * var(--spacing-base));
  --spacing-6: calc(32 * var(--spacing-base));

  /* Radii */

  --radius-m: 16px;
  --radius-l: 24px;
}
