<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="./extra.css" />

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> 

<link rel="icon" type="image/png" href="/icon.png">

<html lang="en">
  <title>
    {{ .Site.Title }} - {{ .Params.Title }}
  </title>

  <body>

    <div id="header">

      <a href="/">
        <img id="logo" src="/logo.png" />
      </a>

    </div>

    <div id="content">
  
      {{ block "main" . }}
      {{ end }}
  
    </div>

  </body>

</html>
