<!doctype html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<html lang="en">
  <title>{% block title %} {% endblock title %}</title>

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="favicon.svg" type="image/svg+xml" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lilita+One&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap">

  {% block layout %} {% endblock layout %}

</html>
