{% extends "base.html" %}

{% block layout %}
  <div class="layout layout-thirds {% if page.extra.layout_class %} {{ page.extra.layout_class }}{% endif %}">
    <div class="sidebar"></div>
    <div class="content">

      <main>

        <nav>
          <span>tojahech</span>
          •
          <a href="/">home</a>
          •
          <a href="/lottery-of-fascinations">index</a>
        </nav>

        {% block content %} {% endblock %}

      </main>

      <footer>
        © 2026 tojahech
      </footer>

    </div>
  </div>
{% endblock layout %}
