{% extends "base.html" %}

{% block layout %}
  <div class="layout layout-thirds {% if page.extra.layout_class %} {{ page.extra.layout_class }}{% endif %}">
    <div class="sidebar-wrapper">
    </div>
    <div class="content-wrapper">

      <header>
        tojahech
        <a href="/"><span class="icon" style="mask-image: url(/icons/home.svg)" /></a>
        <a href="/lottery-of-fascinations"><span class="icon" style="mask-image: url(/icons/index.svg)" /></a>
        <a href="/contact"><span class="icon" style="mask-image: url(/icons/contact.svg)" /></a>
      </header>

      {% block content %} {% endblock %}

      <footer>
        © 2026 tojahech
      </footer>

    </div>
  </div>
{% endblock layout %}
